<% include ../partials/header.ejs%>
<div class="container">
	<h1>Add A New Monster</h1>
	<form action="/monsters" method="post">
	<div class="form-group">
		<label for="monster[name]">Name:</label>
		<input type="text" placeholder="name" name="monster[name]" class="form-control">
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">
			<div class="form-group">
				<label for="monster[str]">Strength:</label>
				<select name="monster[str]" id="" class="ability form-control">
					<% for(i=0; i<31; i++){ %>
					<option value="<%=i%>"><%=i%></option>
					<%}%>
				</select>
			</div>
		</div>
		<div class="col-xs-4 col-sm-2">
			<div class="form-group">
				<label for="monster[dex]">Dexterity:</label>
				<select name="monster[dex]" id="" class="ability form-control">
					<% for(i=0; i<31; i++){ %>
					<option value="<%=i%>"><%=i%></option>
					<%}%>
				</select>
			</div>
		</div>
		<div class="col-xs-4 col-sm-2">
			<div class="form-group">
				<label for="monster[con]">Constitution:</label>
				<select name="monster[con]" id="" class="ability form-control">
					<% for(i=0; i<31; i++){ %>
					<option value="<%=i%>"><%=i%></option>
					<%}%>
				</select>
			</div>
		</div>
		<div class="col-xs-4 col-sm-2">
			<div class="form-group">
				<label for="monster[int]">Intelligence:</label>
				<select name="monster[int]" id="" class="ability form-control">
					<% for(i=0; i<31; i++){ %>
					<option value="<%=i%>"><%=i%></option>
					<%}%>
				</select>
			</div>
		</div>
		<div class="col-xs-4 col-sm-2">
			<div class="form-group">
				<label for="monster[wis]">Wisdom:</label>
				<select name="monster[wis]" id="" class="ability form-control">
					<% for(i=0; i<31; i++){ %>
					<option value="<%=i%>"><%=i%></option>
					<%}%>
				</select>
			</div>
		</div>
		<div class="col-xs-4 col-sm-2">
			<div class="form-group">
				<label for="monster[cha]">Charisma:</label>
				<select name="monster[cha]" id="" class="ability form-control">
					<% for(i=0; i<31; i++){ %>
					<option value="<%=i%>"><%=i%></option>
					<%}%>
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="monster[level]">Level:</label>
				<select name="monster[level]" class="form-control" id="level">
					<% for(i=1; i<36; i++){ %>
					<option value="<%= i %>"><%= i %></option>
					<% } %>
				</select>
			</div>
			<div class="form-group">
				<label for="">Type:</label>
				<select name="monster[type]" id="type" class="form-control">
					<% for(i=0; i<monsterData.types.length; i++){%>
					<option value="<%=monsterData.types[i]%>">
						<%=monsterData.types[i]%>
					</option>
					<%}%>
				</select>
			</div>
			<div class="form-group">
				<label for="">Size:</label>
				<select name="monster[size]" class="form-control">
					<% for(i=0; i<monsterData.sizes.length; i++){ %>
					<option value="<%= monsterData.sizes[i] %>"><%= monsterData.sizes[i] %></option>
					<% } %>
				</select>
			</div>
			<div class="form-group">
				<label for="">AC:</label>
				<input type="number" placeholder="ac" name="monster[ac]" class="form-control">
			</div>
			<div class="form-group">
				<label for="">Speed:</label>
				<input type="text" placeholder="speed" name="monster[speed]" class="form-control">
			</div>
		</div>
			<div class="col-sm-6">
			<div class="form-group">
				<div class="row">
					<div class="col-xs-6">
						<label for="monster[health}">Hit Die:</label>
						<select name="monster[hd]" class="form-control" id="hd">
							<% for(i=4; i<14; i=i+2){ %>
							<option value="<%= i %>">d<%= i %></option>
							<% } %>
						</select>
					</div>
					<div class="col-xs-6">
						<label for="monster[bonusHealth]">Bonus Health:</label>
						<input type="number" name="monster[bonusHealth]" class="form-control">
					</div>
				</div>
			</div>
				<div class="form-group">
					<label for="">Saving Throws:</label>
					<input type="text" placeholder="saving" name="monster[saving]" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Skills:</label>
					<input type="text" placeholder="skills" name="monster[skills]" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Skills:</label>
					<input type="text" placeholder="senses" name="monster[senses]" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Languages:</label>
					<input type="text" placeholder="languages" name="monster[languages]" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Challenge:</label>
					<input type="text" placeholder="challenge" name="monster[[challenge]" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-group actions">
			<label for="">Actions</label>
			<input type="text" name="monster[actions][0]" class="form-control action">
		</div>
		<button onclick="addAction()" type="button" class="btn btn-primary">Add Action</button>
	<input type="submit" class="btn btn-success">
	</form>
</div>
<script src="/js/monster/main.js"></script>
<!--<script src="/js/monster/new.js"></script>-->
<% include ../partials/footer.ejs%>