<div class="container">
	<h1>{{monster.name}}</h1>
	<p>{{monster.size}} {{monster.type}}</p>
	<div class="container">
		<table class="table">
			<tr>
				<th>Str</th>
				<th>Dex</th>
				<th>Con</th>
				<th>Wis</th>
				<th>Int</th>
				<th>Cha</th>
			</tr>
			<tr>
				<td class="score">{{monster.str}}</td>
				<td class="score">{{monster.dex}}</td>
				<td class="score">{{monster.con}}</td>
				<td class="score">{{monster.int}}</td>
				<td class="score">{{monster.wis}}</td>
				<td class="score">{{monster.cha}}</td>
			</tr>
		</table>
	</div>
</div>
<script src="/public/js/show.js"></script>