<% include ../partials/header.ejs%>
<div class="container">
	<h1><%= monster.name %></h1>
	<p><%= monster.size %> <%= monster.type %></p>
	<div class="row">
		<div class="col-sm-6">
			<p><strong>Armor Class</strong> <%= monster.ac %></p>
			<p><strong>Hit Points</strong> <%= monster.health %></p>
			<p><strong>Speed</strong> <%= monster.speed %></p>
				<table class="table text-center">
					<tr>
						<th class="text-center">Str</th>
						<th class="text-center">Dex</th>
						<th class="text-center">Con</th>
						<th class="text-center">Wis</th>
						<th class="text-center">Int</th>
						<th class="text-center">Cha</th>
					</tr>
					<tr>
						<td class="score"><%= monster.str %> (<%= Math.floor((monster.str -10)/2)%>)</td>
						<td class="score"><%= monster.dex %> (<%= Math.floor((monster.dex -10)/2)%>)</td>
						<td class="score"><%= monster.con %> (<%= Math.floor((monster.con -10)/2)%>)</td>
						<td class="score"><%= monster.int %> (<%= Math.floor((monster.int -10)/2)%>)</td>
						<td class="score"><%= monster.wis %> (<%= Math.floor((monster.wis -10)/2)%>)</td>
						<td class="score"><%= monster.cha %> (<%= Math.floor((monster.wis -10)/2)%>)</td>
					</tr>
				</table>
			<p><strong>Proficiency Bonus</strong> +<%= monster.prof %></p>
			<p><strong>Senses</strong> <%= monster.senses %></p>
			<p><strong>Languages</strong> <%= monster.languages %></p>
			<p><strong>Challenge</strong> <%= monster.challenge %></p>
		</div>
		<div class="col-sm-6">
			<h2>Actions</h2>
			<% monster.actions.forEach(function (action) { %>
				<p><%= action %></p>
			<% }) %>
		</div>
	</div>
	<a href="/monsters/<%= monster.name %>/edit" class="btn btn-primary">Edit</a>
	<a href="/monsters/<%= monster.name %>/delete" class="btn btn-primary">Delete</a>
</div>
<% include ../partials/footer.ejs%>